
#background-anim
{
  height:300px;
}

#old_man
{

  margin-top:128px;
  margin-left:100px;
  height:180px;

}

#table
{

  height:180px;
  margin-top:120px;
  margin-left:180px;

}

#table-2
{

  height:150px;
  margin-top:150px;
  margin-left:420px;

}
